* {
    font-family: 'Source Sans Pro', sans-serif;
}

.background {
    background-color: #8A2901;
    height: 100vh;
}

.navbar {
    background-color: #131313;
    border-bottom: rgba(231, 228, 223, 0.847) 1px solid;
}

.navbar .nav-link {
    color: rgba(231, 228, 223, 0.847);
    font-size: 16px;
    font-weight: bolder;
}

.navbar li {
    padding-left: 20px;
}

.navbar li a:hover {
    color: #8A2901;
}

.navbar .navbar-brand {
    font-family: 'Aboreto', sans-serif;
    font-size: medium;
    color: rgba(231, 228, 223, 0.848)   
}

.navbar .navbar-brand:hover {
    color: rgba(231, 228, 223, 0.848)  
}

.navbar-toggler-icon {
    border: 1px solid rgba(231, 228, 223, 0.848);
    border-radius: 2px;
    background-color: rgba(231, 228, 223, 0.848) !important;
}

.drinks{
    color: #E1DBCF;
    padding-top: 120px;
    padding-left: 110px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Aboreto', sans-serif;
}

.food{
    color: #E1DBCF;
    padding-top: 130px;
    padding-left: 150px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Aboreto', sans-serif;
}

#listdrinks {
    margin-left: 80px;
}

#listfood {
    margin-left: 120px;
}

.list-group-flush {
    background-color: #8A2901;
}

.list-item
{
    border-bottom: 1px solid rgba(225, 219, 207, 0.3);
    list-style-type: none;
    color: rgba(225, 219, 207, 0.7);
}

.list-group {
    margin-top: 10px;
}

.badge {
    margin-left: 10px;
    background-color: none;
    border: 1px solid rgba(225, 219, 207, 0.3);
}

.text-secondary {
    color: #8A2901!important;
}

.col-lg-3 {
    margin-bottom: 100px;
    margin-left: 60px;
    margin-top: 50px;
}


@media only screen and (max-width: 480px) {

    .background {
        background-color: #8A2901;
        position:absolute; 
        height:100%; 
        width:100%;
    }

    .drinks{
        padding-left: 30px;
        padding-top: 90px;
    }

    .food {
        padding-left: 30px;
        padding-top: 20px;
    }

    #listdrinks {
        margin-left: 0px;
    }
    
    #listfood {
        margin-left: 0px;
    }
    
}